<header class="section header">
  <div class="container">
    <div class="row">
      <div class="bg-info">

        <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
               aria-controls="pills-login" aria-selected="true">Register</a>
          </li>

        </ul>

        <div class="tab-content">
          <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
            <form>
              <div class="text-center mb-3">

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fab fa-github"></i>
                </button>
              </div>

              <div class="form-outline mb-4">
                <input type="text" required id="loginName" class="form-control" />
                <label class="form-label" for="loginName">User Id</label>
              </div>

              <div class="form-outline mb-4">
                <input type="email" required id="loginEmail" class="form-control" />
                <label class="form-label" for="loginPassword">Email Id</label>
              </div>

              <div class="form-outline mb-4">
                <input type="password" required id="loginPassword" class="form-control" />
                <label class="form-label" for="loginPassword">Enter Password</label>
              </div>

              <div class="row mb-4">
                <div class="col-md-6 d-flex justify-content-center">

                  <div class="form-check mb-3 mb-md-0">
                    <input class="form-check-input" type="checkbox" value="" required id="loginCheck" checked />
                    <label class="form-check-label" for="loginCheck">I agree to the terms & conditions </label>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary btn-block mb-4">Register</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
