<h1>{{city}}</h1>
<h1>Nhiệt độ: {{temp}}</h1>
<h2>Độ ẩm: {{hump}}%</h2>
<h3>Áp suất: {{press}}</h3>
<button  class="btn btn-primary" type="button" (click)="hanoi()">Hà Nội</button>
<button  class="btn btn-warning" type="button" (click)="tphcm()">TP HCM</button>
<button  class="btn btn-primary" type="button" (click)="tk()">Tokyo</button>
<button  class="btn btn-warning" type="button" (click)="ny()">New York</button>
<button  class="btn btn-primary" type="button" (click)="london()">London</button>
<button  class="btn btn-warning" type="button" (click)="bl()">Berlin</button>
